{% extends "layout.html" %}
{% block content %}
    <div>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                    <div class="form-group">
                        {{ form.employees.label(class="form-control-label")}}
                        {{ form.employees }}
                    </div>
                    <div class="form-group">
                        {{ form.projects.label(class="form-control-label")}}
                        {{ form.projects }}
                    </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
                {{ form.remove(class="btn btn-outline-danger")}}
            </div>
        </form>
    </div>
{% endblock content %}